.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.start {
  min-width: 150px;
  margin-right: 1em;
}

.end {
  flex-grow: 1;
}

.result {
  margin: 15px;
  background-color: aliceblue;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.result-description {
  padding-left: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}