.AppliedFilters
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  &__filterGroup {
    display: flex;
  }

  &__filterLabel,
  &__filterValueComma {
    margin-right: 5px;
  }

  &__filterValue {
    display: flex;
  }

  &__filterSeparator {
    margin: 0 10px;
  }

  &__filterValueText,
  &__filterValueComma {
    font-style: italic;
  }

  &__removeFilterButton {
    margin: 0 5px;
    width: .5625rem;
    cursor: pointer;
  }

  &__removableFilter {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
  }
}

