.Facet {
  &__legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__search {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
  }

  &__options {
    padding-bottom: 16px;
  }

  &__label {
    cursor: pointer;
    margin-left: 12px;
  }
}
