.Facets {
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  &__controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  &__button {
    width: 100%;
  }

  &__link {
    width: 100%;
  }
}

.Facet {
  &__legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__search {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
  }

  &__options {
    padding-bottom: 16px;
  }

  &__label {
    cursor: pointer;
    margin-left: 12px;
  }
}
