.ProgressBar {
  height: 20px;
  margin: 10px;

  &__bar {
    height: inherit;
    background-color: #e0e0de;
    width: 100%;
  }

  &__percentage {
    height: 100%;
    width: 0%;
    background-color: coral;
  }
}