.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* font-size: 30px; */
}

#root {
  display: flex;
}

.left {
  min-width: 150px;
  margin-right: 1em;
}

.right {
  flex-grow: 1;
}

.SearchForm {
  display: flex;
  height: 40px;
}

.SearchForm-input{
  flex-grow: 1;
  font-size: 20px;
}

.result {
  margin: 15px;
  background-color: aliceblue;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.result-description {
  padding-left: 2em;
}
